/* General Styles for Modals as they are not Styled Components */

@media print {
  .modal-portal {
    display: none;
  }
}

.modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999; /* Should be above all default UI */
  background: rgba(0, 0, 0, 0.75);
}
@media (min-width: 480px) {
  .modal-overlay {
    padding: 0.5rem;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  outline: none;
  background: #ffffff;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 480px) {
  .modal-content {
    position: static;
    border-radius: 0.25rem;
    max-width: 30rem;
  }
}

.writein-modal-content {
  max-width: 80vw;
}
