[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pytest = "*"
pytest-cov = "*"
rope = "*"
pylint = "*"
autopep8 = "*"
mypy = "*"

[packages]
flask = "*"
pyscard = "*"

[requires]
python_version = "3.7"
