# VxSuite Code Owners

# These owners are used to automate code reviews, if there is a specific part of the codebase you would like to be tagged on reviews for add yourself as a code owner.

# The order of this file is important. The last matching rule will take precedence.

libs/ballot-encoder/ @eventualbuddha
libs/ballot-interpreter/ @eventualbuddha
libs/eslint-plugin-vx/ @eventualbuddha
.github/ @arsalansufi
libs/auth/ @arsalansufi
libs/dev-dock/ @jonahkagan
libs/grout/ @jonahkagan
libs/usb-drive/ @adghayes
