# VxSuite Code Owners

# These owners are used to automate code reviews, if there is a specific part of the codebase you would like to be tagged on reviews for add yourself as a code owner.

# The order of this file is important. The last matching rule will take precedence.


# More specific ownership rules for more knowledge-specific reviews.
libs/ballot-encoder/ @eventualbuddha
libs/ballot-interpreter-nh/ @eventualbuddha
libs/ballot-interpreter-nh-next/ @eventualbuddha
libs/eslint-plugin-vx/ @eventualbuddha
libs/logging/ @carolinemodic
.github/ @carolinemodic
libs/auth/ @arsalansufi
libs/dev-dock/ @jonahkagan
libs/grout/ @jonahkagan
libs/usb-drive/ @jonahkagan
