# Prevent packages from accessing anything they don't explicitly depend on. This
# is mostly here so that the `react-scripts` preflight check succeeds and does
# not find babel-eslint or babel-jest or any of the other packages it is afraid
# it might get the wrong version of.
hoist = false

# From `pnpm` docs on `public-hoist-pattern`: "This setting is useful when dealing
# with some flawed pluggable tools that don't resolve dependencies properly." These
# tools all fit that description.
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*stylelint*

auto-install-peers=true

strict-peer-dependencies=false

# Concurrent node-gyp builds with pnpm seem to be flaky in CI:
# See https://github.com/pnpm/pnpm/issues/2135
# TODO: An upgrade to pnpm 9.x may resolve this an allow us to move back to
# concurrent builds.
child-concurrency=1
