# Prevent packages from accessing anything they don't explicitly depend on. This
# is mostly here so that the `react-scripts` preflight check succeeds and does
# not find babel-eslint or babel-jest or any of the other packages it is afraid
# it might get the wrong version of.
hoist = false

# We _do_ try to hoist `@types` packages so that TS will not end up with type
# errors from comparing types from different versions of the same package.
public-hoist-pattern=['@types/*']