{
  "extends": ["plugin:vx/recommended"],
  "rules": {
    "camelcase": ["error", { "allow": ["matrix_t", "^.+_\\d+"] }],
    "new-cap": ["error", { "newIsCapExceptionPattern": "^jsfeat\\.." }],
    "no-bitwise": "off",

    "vx/gts-identifiers": ["error", { "allowedNames": ["$0", "/.*(X|Y)Offset/"] }],
    "vx/gts-no-default-exports": "error"
  }
}
