coverage
dist
node_modules
*.d.ts
*.d.ts.map
*.js
!*.config.js
!*rc.js
!types/**/*.d.ts
!bin/*.js

# yarn
!.yarn/**/*
.yarn/unplugged
.yarn/build-state.yml

debug*.png
votingworks-hmpb-interpreter*.tgz