version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.1.0

executors:
  nodejs-browsers:
    docker:
      - image: cimg/python:3.9.12-browsers
  nodejs:
    docker:
      - image: cimg/node:16.14.2

jobs:
  test-codemods:
    executor: nodejs-browsers
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir codemods build
      - run:
          name: Lint
          command: |
            pnpm --dir codemods lint
      - run:
          name: Test
          command: |
            pnpm --dir codemods test

  test-frontends-bas:
    executor: nodejs-browsers
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir frontends/bas build
      - run:
          name: Lint
          command: |
            pnpm --dir frontends/bas lint
      - run:
          name: Test
          command: |
            pnpm --dir frontends/bas test

  test-frontends-bmd:
    executor: nodejs-browsers
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir frontends/bmd build
      - run:
          name: Lint
          command: |
            pnpm --dir frontends/bmd lint
      - run:
          name: Test
          command: |
            pnpm --dir frontends/bmd test
      - store_artifacts:
          path: frontends/bmd/cypress/screenshots
      - store_artifacts:
          path: frontends/bmd/cypress/videos

  test-frontends-bsd:
    executor: nodejs-browsers
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir frontends/bsd build
      - run:
          name: Lint
          command: |
            pnpm --dir frontends/bsd lint
      - run:
          name: Test
          command: |
            pnpm --dir frontends/bsd test
      - store_artifacts:
          path: frontends/bsd/cypress/screenshots
      - store_artifacts:
          path: frontends/bsd/cypress/videos

  test-frontends-election-manager:
    executor: nodejs-browsers
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir frontends/election-manager build
      - run:
          name: Lint
          command: |
            pnpm --dir frontends/election-manager lint
      - run:
          name: Test
          command: |
            pnpm --dir frontends/election-manager test
      - store_artifacts:
          path: frontends/election-manager/cypress/screenshots
      - store_artifacts:
          path: frontends/election-manager/cypress/videos

  test-frontends-precinct-scanner:
    executor: nodejs-browsers
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir frontends/precinct-scanner build
      - run:
          name: Lint
          command: |
            pnpm --dir frontends/precinct-scanner lint
      - run:
          name: Test
          command: |
            pnpm --dir frontends/precinct-scanner test

  test-integration-testing-bmd:
    executor: nodejs-browsers
    resource_class: xlarge
    steps:
      - install-cypress-browser
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir frontends/bmd build
      - run:
          name: Lint
          command: |
            pnpm --dir frontends/bmd lint
      - run:
          name: Test
          command: |
            pnpm --dir frontends/bmd test:e2e
      - store_artifacts:
          path: frontends/bmd/cypress/screenshots
      - store_artifacts:
          path: frontends/bmd/cypress/videos

  test-integration-testing-bsd:
    executor: nodejs-browsers
    resource_class: xlarge
    steps:
      - install-cypress-browser
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir integration-testing/bsd build
      - run:
          name: Lint
          command: |
            pnpm --dir integration-testing/bsd lint
      - run:
          name: Test
          command: |
            pnpm --dir integration-testing/bsd test
      - store_artifacts:
          path: integration-testing/bsd/cypress/screenshots
      - store_artifacts:
          path: integration-testing/bsd/cypress/videos

  test-integration-testing-election-manager:
    executor: nodejs-browsers
    resource_class: xlarge
    steps:
      - install-cypress-browser
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir integration-testing/election-manager build
      - run:
          name: Lint
          command: |
            pnpm --dir integration-testing/election-manager lint
      - run:
          name: Test
          command: |
            pnpm --dir integration-testing/election-manager test
      - store_artifacts:
          path: integration-testing/election-manager/cypress/screenshots
      - store_artifacts:
          path: integration-testing/election-manager/cypress/videos

  test-libs-api:
    executor: nodejs
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir libs/api build
      - run:
          name: Lint
          command: |
            pnpm --dir libs/api lint
      - run:
          name: Test
          command: |
            pnpm --dir libs/api test

  test-libs-ballot-encoder:
    executor: nodejs
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir libs/ballot-encoder build
      - run:
          name: Lint
          command: |
            pnpm --dir libs/ballot-encoder lint
      - run:
          name: Test
          command: |
            pnpm --dir libs/ballot-encoder test

  test-libs-ballot-interpreter-nh:
    executor: nodejs
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir libs/ballot-interpreter-nh build
      - run:
          name: Lint
          command: |
            pnpm --dir libs/ballot-interpreter-nh lint
      - run:
          name: Test
          command: |
            pnpm --dir libs/ballot-interpreter-nh test

  test-libs-ballot-interpreter-vx:
    executor: nodejs
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir libs/ballot-interpreter-vx build
      - run:
          name: Lint
          command: |
            pnpm --dir libs/ballot-interpreter-vx lint
      - run:
          name: Test
          command: |
            pnpm --dir libs/ballot-interpreter-vx test

  test-libs-cdf-schema-builder:
    executor: nodejs
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir libs/cdf-schema-builder build
      - run:
          name: Lint
          command: |
            pnpm --dir libs/cdf-schema-builder lint
      - run:
          name: Test
          command: |
            pnpm --dir libs/cdf-schema-builder test

  test-libs-cdf-types-cast-vote-records:
    executor: nodejs
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir libs/cdf-types-cast-vote-records build
      - run:
          name: Lint
          command: |
            pnpm --dir libs/cdf-types-cast-vote-records lint
      - run:
          name: Test
          command: |
            pnpm --dir libs/cdf-types-cast-vote-records test

  test-libs-cdf-types-election-event-logging:
    executor: nodejs
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir libs/cdf-types-election-event-logging build
      - run:
          name: Lint
          command: |
            pnpm --dir libs/cdf-types-election-event-logging lint
      - run:
          name: Test
          command: |
            pnpm --dir libs/cdf-types-election-event-logging test

  test-libs-eslint-plugin-vx:
    executor: nodejs-browsers
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir libs/eslint-plugin-vx build
      - run:
          name: Lint
          command: |
            pnpm --dir libs/eslint-plugin-vx lint
      - run:
          name: Test
          command: |
            pnpm --dir libs/eslint-plugin-vx test

  test-libs-fixtures:
    executor: nodejs
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir libs/fixtures build
      - run:
          name: Lint
          command: |
            pnpm --dir libs/fixtures lint
      - run:
          name: Test
          command: |
            pnpm --dir libs/fixtures test

  test-libs-image-utils:
    executor: nodejs
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir libs/image-utils build
      - run:
          name: Lint
          command: |
            pnpm --dir libs/image-utils lint
      - run:
          name: Test
          command: |
            pnpm --dir libs/image-utils test

  test-libs-logging:
    executor: nodejs
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir libs/logging build
      - run:
          name: Lint
          command: |
            pnpm --dir libs/logging lint
      - run:
          name: Test
          command: |
            pnpm --dir libs/logging test

  test-libs-lsd:
    executor: nodejs
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir libs/lsd build
      - run:
          name: Lint
          command: |
            pnpm --dir libs/lsd lint
      - run:
          name: Test
          command: |
            pnpm --dir libs/lsd test

  test-libs-plustek-sdk:
    executor: nodejs
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir libs/plustek-sdk build
      - run:
          name: Lint
          command: |
            pnpm --dir libs/plustek-sdk lint
      - run:
          name: Test
          command: |
            pnpm --dir libs/plustek-sdk test

  test-libs-res-to-ts:
    executor: nodejs
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Type Check
          command: |
            pnpm --dir libs/res-to-ts type-check
      - run:
          name: Lint
          command: |
            pnpm --dir libs/res-to-ts lint
      - run:
          name: Test
          command: |
            pnpm --dir libs/res-to-ts test:ci

  test-libs-test-utils:
    executor: nodejs-browsers
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir libs/test-utils build
      - run:
          name: Lint
          command: |
            pnpm --dir libs/test-utils lint
      - run:
          name: Test
          command: |
            pnpm --dir libs/test-utils test

  test-libs-types:
    executor: nodejs
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir libs/types build
      - run:
          name: Lint
          command: |
            pnpm --dir libs/types lint
      - run:
          name: Test
          command: |
            pnpm --dir libs/types test

  test-libs-ui:
    executor: nodejs-browsers
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir libs/ui build
      - run:
          name: Lint
          command: |
            pnpm --dir libs/ui lint
      - run:
          name: Test
          command: |
            pnpm --dir libs/ui test

  test-libs-utils:
    executor: nodejs-browsers
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir libs/utils build
      - run:
          name: Lint
          command: |
            pnpm --dir libs/utils lint
      - run:
          name: Test
          command: |
            pnpm --dir libs/utils test

  test-libs-quickresults:
    executor: nodejs-browsers
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir libs/quickresults build
      - run:
          name: Lint
          command: |
            pnpm --dir libs/quickresults lint
      - run:
          name: Test
          command: |
            pnpm --dir libs/quickresults test

  test-services-admin:
    executor: nodejs
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir services/admin build
      - run:
          name: Lint
          command: |
            pnpm --dir services/admin lint
      - run:
          name: Test
          command: |
            pnpm --dir services/admin test

  test-services-converter-ms-sems:
    docker:
      - image: circleci/python:3.9.2
    steps:
      - checkout
      - run:
          name: Dependencies
          command: |
            sudo apt update -y
            make -C services/converter-ms-sems install-dependencies
            make -C services/converter-ms-sems install-dev-dependencies
      - run:
          name: Test
          command: |
            make -C services/converter-ms-sems coverage
      # - run:
      #     name: Typecheck
      #     command: |
      #       make -C services/converter-ms-sems typecheck

  test-services-scan:
    executor: nodejs
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: |
            pnpm --dir services/scan build
      - run:
          name: Lint
          command: |
            pnpm --dir services/scan lint
      - run:
          name: Test
          command: |
            pnpm --dir services/scan test

  test-services-smartcards:
    docker:
      - image: circleci/python:3.9.2
    steps:
      - checkout
      - run:
          name: Dependencies
          command: |
            sudo apt update -y
            make -C services/smartcards install-smartcard
            make -C services/smartcards build-dev
      - run:
          name: Test
          command: |
            make -C services/smartcards coverage
      - run:
          name: Typecheck
          command: |
            make -C services/smartcards typecheck
      - run:
          name: Check Format
          command: |
            make -C services/smartcards check-format

  validate-monorepo:
    executor: nodejs
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Validate
          command: |
            ./script/validate-monorepo

workflows:
  test:
    jobs:
      - test-codemods
      - test-frontends-bas
      - test-frontends-bmd
      - test-frontends-bsd
      - test-frontends-election-manager
      - test-frontends-precinct-scanner
      - test-integration-testing-bmd
      - test-integration-testing-bsd
      - test-integration-testing-election-manager
      - test-libs-api
      - test-libs-ballot-encoder
      - test-libs-ballot-interpreter-nh
      - test-libs-ballot-interpreter-vx
      - test-libs-cdf-schema-builder
      - test-libs-cdf-types-cast-vote-records
      - test-libs-cdf-types-election-event-logging
      - test-libs-eslint-plugin-vx
      - test-libs-fixtures
      - test-libs-image-utils
      - test-libs-logging
      - test-libs-lsd
      - test-libs-plustek-sdk
      - test-libs-res-to-ts
      - test-libs-test-utils
      - test-libs-types
      - test-libs-ui
      - test-libs-utils
      - test-services-admin
      - test-services-converter-ms-sems
      - test-services-scan
      - test-services-smartcards
      - validate-monorepo

commands:
  checkout-and-install:
    description: Get the code and install dependencies.
    steps:
      - run:
          name: Enable Corepack
          command: sudo corepack enable
      - checkout
      # Edit this comment somehow in order to invalidate the CircleCI cache.
      # Since the contents of this file affect the cache key, editing only a
      # comment will invalidate the cache without changing the behavior.
      - restore_cache:
          key:
            dotcache-cache-{{checksum ".circleci/config.yml" }}-{{ checksum
            "pnpm-lock.yaml" }}
      - run:
          name: Setup Dependencies
          command: |
            sudo apt update -y
            sudo apt install libx11-dev libpng-dev libjpeg-dev
            pnpm install --frozen-lockfile
      - save_cache:
          key:
            dotcache-cache-{{checksum ".circleci/config.yml" }}-{{ checksum
            "pnpm-lock.yaml" }}
          paths:
            - ~/.pnpm-store
  install-cypress-browser:
    description: Installs a browser for Cypress tests.
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
