/* VotingWorks brand color overrides for the thumbsup classic gallery theme. */
body {
  border-top-color: #6638b6;
}

h1,
h3,
footer {
  color: #6638b6;
}

nav.breadcrumbs a {
  background-color: #6638b6;
}

nav.breadcrumbs li.active {
  background-color: #a580d8;
}
