layout {
    pane split_direction="horizontal" {
        pane name="vitest (^Q to quit all)" command="pnpm" size="60%" close_on_exit=true {
            args "vitest"
        }
        pane name="rust build" command="pnpm" {
            args "build:watch"
        }
    }
}
