@media print {
  .modal-portal {
    display: none;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.75);
}

.modal-content {
  width: 100%;
  max-width: 30rem;
  margin: auto;
  outline: none;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 0.25rem;
}
