/* Sourced from <https://google-webfonts-helper.herokuapp.com/fonts/noto-emoji?subsets=emoji> and then edited to only contain necessary font files. */

/* noto-emoji-300 - emoji */
@font-face {
  font-family: 'Noto Emoji';
  font-weight: 300;
  font-style: normal;
  src: local(''), url('noto-emoji-v26-emoji-300.woff2') format('woff2');
}

/* noto-emoji-regular - emoji */
@font-face {
  font-family: 'Noto Emoji';
  font-weight: 400;
  font-style: normal;
  src: local(''), url('noto-emoji-v26-emoji-regular.woff2') format('woff2');
}

/* noto-emoji-500 - emoji */
@font-face {
  font-family: 'Noto Emoji';
  font-weight: 500;
  font-style: normal;
  src: local(''), url('noto-emoji-v26-emoji-500.woff2') format('woff2');
}

/* noto-emoji-600 - emoji */
@font-face {
  font-family: 'Noto Emoji';
  font-weight: 600;
  font-style: normal;
  src: local(''), url('noto-emoji-v26-emoji-600.woff2') format('woff2');
}

/* noto-emoji-700 - emoji */
@font-face {
  font-family: 'Noto Emoji';
  font-weight: 700;
  font-style: normal;
  src: local(''), url('noto-emoji-v26-emoji-700.woff2') format('woff2');
}
