.pagedjs_pages {
  height: auto !important;
}

/* Enable to view the QA code */
@media print {
  @page :left {
    @bottom-left-corner {
      content: 'foo';
      width: 0.3333in;
      height: 0.3333in;
      background: black;
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0.25in 0.25in 0.37in 0.37in;
      box-sizing: content-box;
    }
  }
}

/* Enable to view the QA code with margins as border */
/* @media print {
  @page :left {
    @bottom-left-corner {
      content: 'foo';
      width: 0.3333in;
      height: 0.3333in;
      background: black;
      position: absolute;
      left: 0;
      bottom: 0;
      border: 1px solid pink;
      border-width: 0.25in 0.25in 0.37in 0.37in;
      box-sizing: content-box;
    }
  }
} */

/* Enable to view bottom margin area */
/* .pagedjs_margin-bottom-left-corner-holder,
.pagedjs_margin-bottom,
.pagedjs_margin-bottom-right-corner-holder {
  background: #eee;
} */
