/* stylelint-disable selector-class-pattern -- third-party library class naming */

.pagedjs_pages {
  color: #000000; /* Always black for print-media. */
  font-size: 14px;
}

.pagedjs_pagebox .pagedjs_margin-bottom-center {
  align-items: flex-end;
  padding-bottom: 0.37in;
}

.page-number::before {
  content: counter(page);
}
.total-pages::before {
  content: counter(pages);
}

.ballot-footer {
  position: running(ballotfooter);
}

.watermark {
  position: running(watermark);
}
