.pagedjs_pages {
  font-size: 14px;
}

.pagedjs_pagebox .pagedjs_margin-bottom-center {
  align-items: flex-end;
  padding-bottom: 0.37in;
}

.page-number::before {
  content: counter(page);
}
.total-pages::before {
  content: counter(pages);
}
