.ballot-footer {
  position: running(ballotfooter);
}

@media print {
  @page {
    margin: 0.3in 0.3in 1.2in;
    size: legal portrait;

    @bottom-center {
      content: element(ballotfooter);
    }
  }
}
