.pagedjs_pages {
  font-size: 14px;
  color: #000000; /* Always Black for printed text content. */
}

.pagedjs_pagebox .pagedjs_margin-bottom-center {
  align-items: flex-end;
  padding-bottom: 0.37in;
}

.page-number::before {
  content: counter(page);
}
.total-pages::before {
  content: counter(pages);
}

.ballot-footer {
  position: running(ballotfooter);
}
