{
  "extends": ["plugin:vx/recommended"],
  "rules": {
    // Allow specific exceptions to casing rules.
    "camelcase": ["error", { "allow": ["matrix_t", "^.+_\\d+"] }],
    "new-cap": ["error", { "newIsCapExceptionPattern": "^jsfeat\\.." }],
    // Allow for bitwise operation which is necessary for encoding ballots.
    "no-bitwise": "off",
    // Allow for a variable named $0
    "vx/gts-identifiers": ["error", { "allowedNames": ["$0"] }],
    // Disable JSDOC rule as code is self-documenting.
    "vx/gts-jsdoc": "off"
  }
}
