.pagedjs_pages {
  font-size: 14px;
}

.pagedjs_pagebox .pagedjs_margin-bottom-center {
  align-items: flex-start;
}
.ballot-footer {
  position: running(ballotFooter);
}
.ballot-footer-page-number::before {
  content: counter(page);
}
.ballot-footer-pages-number::before {
  content: counter(pages);
}

/* qr code hide/show hack */
.qr-code {
  display: none;
}
[data-page-number='1'] .qr-code-page-1,
[data-page-number='2'] .qr-code-page-2 {
  display: block;
}

@media print {
  @page {
    size: letter portrait;
    margin: 0.3in 0.3in 0.9in;

    @bottom-center {
      content: element(ballotFooter);
    }
  }
}

@media screen {
  .pagedjs_page {
    outline: 1px solid green;
    margin: 0.25in auto;
  }
}
