.ballot-footer {
  position: running(ballotFooter);
}

@media print {
  @page {
    size: letter portrait;
    margin: 0.3in 0.3in 0.96in;

    @bottom-center {
      content: element(ballotFooter);
    }
  }
}
