/* Reset */

html {
  box-sizing: border-box;
  user-select: none;
  line-height: 1;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

table {
  border-collapse: collapse;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

:link,
:visited {
  color: rgb(0, 0, 238);
}

/* Foundational */
html,
body,
#root {
  height: 100%;
}

/* Typography */
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #263238;
  background: #edeff0;
  font-size: 24px;
}

/* Accessibility Utilities */
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.visually-hidden a:focus,
.visually-hidden input:focus,
.visually-hidden button:focus {
  position: static;
  width: auto;
  height: auto;
}

/* Utilities */
@media print {
  .no-print {
    display: none;
  }
}

/* React Simple Keyboard */
.simple-keyboard.hg-theme-default.vs-simple-keyboard {
  background-color: lightgrey;
  padding: 0;
  border-radius: 0;
}
