/* Reset */
table {
  border-collapse: collapse;
}
/* In Webkit, the bottom margin of a legend and the top margin  */
/* of the next element don't overlap, which they should. This  */
/* addresses that by discarding the top margin of the next element */
legend + * {
  -webkit-margin-top-collapse: discard;
}

/* Foundational Layout */
html,
body,
.root {
  height: 100%;
}

/* Typography */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}
